.navbar-brand {
    margin-left: 35% ;
    font-size: 50px;
    font-display: center;
}
.cities-list {
    width: 70%; 
}

.cities-list div {
    border-radius: 3px;
    text-transform: capitalize;
}
.search_field {
    margin-top: 10px;
    display: inline-block;
    border: 1px inset #ccc;
}
.search_field input {
    border: 5px;
    padding: 0;
}
.search_field button {
    border: 5px;
    background-color: lightblue;
}
.city-input {
    background-color: lightgrey;
}
.first-column   {
    float: left;
    background-color: whitesmoke;
}
.weather-result {
    background-color: white;
}
.card  {
    background-color: rgb(67, 121, 202);
    color: white; 
}
.card-deck  {
    margin-top: 200px;
}